* {
    --title: #3f3f3f;
    --main-blue: #1f64fd;
    --border-color: #aac2fa;
    --column-title: #8a93b1;
}

.grid-container {
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    overflow-y: auto;
}

.title {
    color: var(--title);
}

.top-tools-container {
    display: flex;
    align-items: center;
}

.table-container {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    height: calc(100% - 160px);
    max-height: calc(100vh - 200px);
}

.table-container>table>thead>tr>th,
.table-container>table>tbody>tr>td {
    vertical-align: middle;
    white-space: nowrap;
}

.sortable-column {
    cursor: pointer;
    user-select: none;
}

.sortable-column>span {
    vertical-align: middle;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2;
    border-bottom: 2px solid #747474;
}