<section class="grid-container">

    <!-- Title -->
    <h2 class="title">{{title}}</h2>

    <!-- Top Tools -->
    <section class="top-tools-container">

        <!-- Search -->
        <div class="search-containr">
            <input type="text"
                   placeholder="Search..."
                   class="search-input p-2"
                   [formControl]="searchCtrl"
                   (keypress)="onKeypressSearch($event)">

            <button class="search-btn" (click)="search()">
                <span class="material-icons">search</span>
            </button>
        </div>

        <div class="flex-grow-1"></div>

        <!-- Group Action -->
        <div>
            <button mat-stroked-button
                    color="primary"
                    [matMenuTriggerFor]="groupActionMenu"
                    class="flex-row-reverse">
                Group Action
                <span class="material-icons">arrow_drop_down</span>
            </button>

            <mat-menu #groupActionMenu="matMenu">
                <button mat-menu-item
                        *ngFor="let action of groupAction"
                        (click)="action.onClick()">
                    {{action.label}}
                </button>
            </mat-menu>
        </div>

    </section>

    <!-- Table  ------------------------------------------------------------------------------------------>
    <section class="table-container mt-3">

        <table class="table table-hover m-0">

            <!-- Header -->
            <thead>
                <tr>
                    <th *ngIf="hasMultiselect">
                        <mat-checkbox color="primary"
                                      (change)="onChangeAllRowsCheckbox($event)">
                        </mat-checkbox>
                    </th>

                    <th scope="col">Number</th>

                    <th *ngFor="let column of columns">
                        {{column.label}}
                    </th>
                </tr>
            </thead>

            <!-- Body -->
            <tbody>
                <tr *ngFor="let row of filterData$ | async; let i = index">

                    <td *ngIf="hasMultiselect">
                        <mat-checkbox color="primary"
                                      (change)="onChangeRowCheckBox($event, row)"
                                      [checked]="row.rowSelected">
                        </mat-checkbox>
                    </td>

                    <td>{{i + 1 + pageIndex * pageSize}}</td>

                    <td *ngFor="let column of columns">

                        <span *ngIf="column.columnType === 'text'">
                            {{row.data[column.key]}}
                        </span>

                        <!-- Action Column -->
                        <ng-container *ngIf="column.columnType === 'action'">

                            <button mat-icon-button
                                    color="primary"
                                    [matMenuTriggerFor]="rowActionMenu"
                                    class="flex-row-reverse">
                                <span class="material-icons">more_horiz</span>
                            </button>

                            <mat-menu #rowActionMenu="matMenu">
                                <button mat-menu-item
                                        *ngFor="let action of column.actionList"
                                        (click)="action.onClick(row.data)">
                                    {{action.label}}
                                </button>
                            </mat-menu>

                        </ng-container>

                    </td>

                </tr>
            </tbody>

        </table>
    </section>

    <section class="mt-3">
        <ng-container *ngIf="dataCount">

            <paginator [dataLength]="dataCount"
                       [pageSize]="pageSize"
                       (onChangePage)="onChangePage($event)">
            </paginator>
            
        </ng-container>
    </section>


</section>