<section class="grid-container">

    <!-- Title -->
    <h2 class="title">{{gridTitle}}</h2>

    <!-- Top Tools -->
    <section class="top-tools-container">

        <!-- Search -->
        <ng-container *ngIf="hasSearch">
            <search [dataSource]="getCachedData" (filterData)="getSearchFilteredData($event)"></search>
        </ng-container>

        <div class="flex-grow-1"></div>

        <!-- Group Action -->
        <div>
            <button mat-stroked-button
                    color="primary"
                    [matMenuTriggerFor]="groupActionMenu"
                    class="flex-row-reverse">
                Group Action
                <span class="material-icons">arrow_drop_down</span>
            </button>

            <mat-menu #groupActionMenu="matMenu">
                <button mat-menu-item
                        *ngFor="let action of groupAction"
                        (click)="action.onClick()">
                    {{action.label}}
                </button>
            </mat-menu>
        </div>

    </section>

    <!-- Table  ------------------------------------------------------------------------------------------>
    <section class="table-container mt-3">

        <table class="table table-hover m-0">

            <!-- Header -->
            <thead>
                <tr>
                    <!-- MultiSelect Column -->
                    <th *ngIf="hasMultiselect" class="column">
                        <mat-checkbox color="primary"
                                      (change)="toggleSelectAllRows($event)">
                        </mat-checkbox>
                    </th>

                    <!-- Index Column -->
                    <th class="column" scope="col">Number</th>

                    <!-- Columns -->
                    <th class="column" *ngFor="let column of columns"
                        [class.sortable-column]="column.hasSort"
                        (click)="sort(column)">

                        <!-- Label -->
                        <span>{{column.label}}</span>

                        <!-- Sort Icon -->
                        <span *ngIf="column.hasSort" class="material-icons">
                            {{(getSortedColumnKey == column.key) ? (getSortDirection == 'asc' ? 'arrow_drop_up' : 'arrow_drop_down') : 'import_export'}}
                        </span>
                    </th>
                </tr>
            </thead>

            <!-- Body -->
            <tbody>
                <tr *ngFor="let row of filteredRows$ | async; let i = index; trackBy: trackByFn">

                    <td *ngIf="hasMultiselect">
                        <mat-checkbox color="primary"
                                      (change)="onChangeRowCheckBox($event, row)"
                                      [checked]="row.rowSelected">
                        </mat-checkbox>
                    </td>

                    <td>{{i + 1 + pageIndex * pageSize}}</td>

                    <td *ngFor="let column of columns">

                        <span *ngIf="column.columnType === 'text'">
                            {{row.data[column.key]}}
                        </span>

                        <!-- Action Column -->
                        <ng-container *ngIf="column.columnType === 'action'">

                            <button mat-icon-button
                                    color="primary"
                                    [matMenuTriggerFor]="rowActionMenu"
                                    class="flex-row-reverse">
                                <span class="material-icons">more_horiz</span>
                            </button>

                            <mat-menu #rowActionMenu="matMenu">
                                <button mat-menu-item
                                        *ngFor="let action of column.actionList"
                                        (click)="action.onClick(row.data)">
                                    {{action.label}}
                                </button>
                            </mat-menu>

                        </ng-container>

                    </td>

                </tr>
            </tbody>

        </table>
    </section>

    <section class="mt-3">
        <ng-container *ngIf="dataCount">

            <paginator [dataLength]="dataCount"
                       [pageSize]="pageSize"
                       [activePageIndex]="pageIndex"
                       (onChangePage)="onChangePage($event)">
            </paginator>

        </ng-container>
    </section>


</section>