/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: 0;
    background-color: unset;
}

input {
    outline: none !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(177deg,#b8b8b8 0%,#b8b8b8 100%)!important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(177deg,#b8b8b8 0%,#b8b8b8 100%)!important;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}